:root {
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Viga', sans-serif;
}

.navbar {
    background-color: #B8E5FF;
}

.title {
    font-size: 3vmax;
}

main {
    background-color: #E1F4FF;
}

.btn-add:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}